.headerRlc {
  display: flex;
  justify-content: center;
  background-color: #fdfdf6;
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1150px;
  background-color: transparent;
  font-family: "Georgia", serif;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item {
  color: #073c36;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  transition: color 0.3s;

  a {
    color: inherit;
    text-decoration: none;
    text-wrap: nowrap;
  }

  &:hover {
    color: #95c9b4; // Акцентный цвет при наведении
  }

  &.active {
    color: #95c9b4;
    font-weight: bold;
  }
}

.icon {
  color: #073c36;
  font-size: 18px;
}
.auth{
  &:hover{
    color: black;
  }
}
.login-button,
.logout-button {
  font-family: "Georgia", serif;
  background-color: transparent;
  color: #073c36;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: color 0.3s ease;

  .icon {
    font-size: 18px;
    transition: color 0.3s ease;
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }

  &:hover {
    color: #00995c;

    .icon {
      color: #00995c;
    }

    a {
      color: #95c9b4;
    }
  }
}


.logout {
  button {
    background-color: transparent;
    border: none;
    color: #073c36;
    font-size: 16px;
    gap: 6px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .menu-item {
    font-size: 16px;
  }
}
