  $primary-color: #007bff;
  $primary-hover: #0056b3;
  $bg-color: white;
  $border-radius: 20px;
  $shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .numerlogyChart {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .css-1808mag-MuiPaper-root-MuiAccordion-root::before {
 

    width: 0px;
  }

  .shema {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background: $bg-color;
    border-radius: $border-radius;
    box-shadow: $shadow;
    width: 530px;

    img {
      width: 100%;
    }

    .circle {
      position: absolute;
      width: fit-content;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .number{
      position: absolute;
       display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
  }

  .birthdate-container {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background: $bg-color;
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding-top:50px ;
    padding-bottom: 70px;
    span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    }
    .select-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .select-label {
        font-size: 14px;
        color: #666;
        margin-bottom: 5px;
        text-align: center;
      }

      .custom-select {
        width: 100px;
        padding: 10px;
        border-radius: 25px;
        border: 1px solid #ccc;
        background: $bg-color;
        text-align: center;
        font-size: 16px;
        appearance: none;
        outline: none;
      }
    }
  }

  .calculate-button {
    position: absolute;
    width: 130px;
    height: 40px;
    font-size: 16px;
    color: white;
    background: $primary-color;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
  bottom: 10px;
    &:hover {
      background: $primary-hover;
    }
  }

  // Размеры кругов
  .circle {
    &.small {
      height: 22px;
      width: 22px;
    }

    &.medium {
      height: 30px;
      width: 30px;
    }

    &.mediumPlus{
      height: 34px;
      width: 34px;
    }

    &.large {
      height: 40px;
      width: 40px;
    }

    &.outlined {
      box-shadow:  0 0 0 2px black;
    }
  }

  // Позиционирование элементов
  @mixin circle-position($top, $left: auto, $right: auto, $bg-color: white) {
    top: $top;
    left: $left;
    right: $right;
    background-color: $bg-color;
  }
  @mixin number-position($top, $left: auto,$right:auto){
  top:$top;
  left: $left;
  right: $right; 
  }

  // Верхние элементы
  .top1 { @include circle-position(1%, 46.5%, auto,#ae309a); }
  .top2 { @include circle-position(12%, 47.5%, auto, #0067d2); }
  .top3 { @include circle-position(20%, 48.2%, auto, #00b8f4); }
  .top4 { @include circle-position(32%, 48.2%, auto,  #63b062); }

  // Верхний правый угол
  .topRight1 { @include circle-position(14%, auto, 15.3%); }
  .topRight2 { @include circle-position(22%, auto, 22.6%); }
  .topRight3 { @include circle-position(28%, auto, 27.6%); }

  // Правая сторона
  .right1 { @include circle-position(47.4%, auto, 1.6%, #eb4b41) }
  .right2 { @include circle-position(48.4%, auto, 10.6%); }
  .right3 { @include circle-position(48.4%, auto, 20.6%,#e98c46); }
  .right4 { @include circle-position(47%, auto, 30.6%); }
  .right5 { @include circle-position(47.4%, auto, 38.6%); }

  // Нижний правый угол
  .bottomRight1 { @include circle-position(80%, auto, 15%); }
  .bottomRight2 { @include circle-position(73.4%, auto, 21.6%); }
  .bottomRight3 { @include circle-position(67%, auto, 28.6%); }
  .bottomRight4 { @include circle-position(61%, auto, 34.5%); }
  .bottomRight5 { @include circle-position(67%, auto, 36.6%); }
  .bottomRight6 { @include circle-position(60%, auto, 28.5%); }

  // Нижние элементы
  .bottom1 { @include circle-position(90.4%, auto, 45.7%, #eb4b41); }
  .bottom2 { @include circle-position(83%, auto, 47%); }
  .bottom3 { @include circle-position(75%, auto, 48%,#e98c46); }

  // Нижний левый угол
  .bottomLeft1 { @include circle-position(78%, 14.7%, auto); }
  .bottomLeft2 { @include circle-position(72%, 22%, auto); }
  .bottomLeft3 { @include circle-position(67.5%, 28%, auto); }

  // Левая сторона
  .left1 { @include circle-position(47%, 2%, auto,#ae309a); }
  .left2 { @include circle-position(47.5%, 13%, auto,#0067d2); }
  .left3 { @include circle-position(48%, 20.5%, auto,#00b8f4); }
  .left4 { @include circle-position(48%, 33%, auto, #63b062); }

  // Верхний левый угол
  .topLeft1 { @include circle-position(14.8%, 15.5%, auto); }
  .topLeft2 { @include circle-position(22%, 22%, auto); }
  .topLeft3 { @include circle-position(28%, 28%, auto); }

  // центр
  .center{ @include circle-position(46.5%, 46.5%, auto,#ffde68);}

  // 21-27 года
  .year21 { @include number-position(5%,auto, 41.5%);}
  .year22 { @include number-position(6%,auto, 38.5%);}
  .year23 { @include number-position(7%,auto, 35.5%);}
  .year24 { @include number-position(8.5%,auto, 32.5%);}
  .year25 { @include number-position(9.5%,auto, 29.5%);}
  .year26 { @include number-position(11%,auto, 26.5%);}
  .year27 { @include number-position(12%,auto, 23.5%);}

  // 31-38 года
  .year31 { @include number-position(23%,auto, 12%);}
  .year32 { @include number-position(26%,auto, 11%);}
  .year33 { @include number-position(29%,auto, 10%);}
  .year34 { @include number-position(32%,auto, 8.5%);}
  .year35 { @include number-position(35%,auto, 7.5%);}
  .year36 { @include number-position(38%,auto, 6%);}
  .year37 { @include number-position(41%,auto, 5%);}

  // 41-48 года
  .year41 { @include number-position(55.5%,auto,5%);}
  .year42 { @include number-position(59%,auto, 6.5%);}
  .year43 { @include number-position(62%,auto, 7.5%);}
  .year44 { @include number-position(65%,auto, 8.5%);}
  .year45 { @include number-position(68%,auto, 10%);}
  .year46 { @include number-position(71%,auto, 11.3%);}
  .year47 { @include number-position(74%,auto, 12.5%);}

    // 51-58 года
  .year51 { @include number-position(84.5%,auto,24%);}
  .year52 { @include number-position(86%,auto, 27%);}
  .year53 { @include number-position(87.5%,auto, 30%);}
  .year54 { @include number-position(89%,auto, 33%);}
  .year55 { @include number-position(90%,auto, 36%);}
  .year56 { @include number-position(91.5%,auto, 39%);}
  .year57 { @include number-position(93%,auto, 42%);}
// 61-68 Года
.year61 { @include number-position(92%,41.5%, auto);}
.year62 { @include number-position(90.5%,38.5%, auto);}
.year63 { @include number-position(90%, 35.5%, auto);}
.year64 { @include number-position(89%, 32.5%, auto);}
.year65 { @include number-position(87.3%, 29.5%, auto);}
.year66 { @include number-position(86%,26.5%, auto);}
.year67 { @include number-position(84.5%,23.5%,auto);}
// 71-78 года
.year71 { @include number-position(73.5%,12.5%, auto);}
.year72 { @include number-position(70.5%,11.5%, auto);}
.year73 { @include number-position(67.5%, 10%, auto);}
.year74 { @include number-position(64.5%, 8.5%, auto);}
.year75 { @include number-position(61.5%, 7.5%, auto);}
.year76 { @include number-position(58.5%,6.5%, auto);}
.year77 { @include number-position(55.5%,5%,auto);}
// 1 до 8 лет
.year1 { @include number-position(41%,5%, auto);}
.year2 { @include number-position(38%,6%, auto);}
.year3 { @include number-position(35%, 7%, auto);}
.year4 { @include number-position(32%, 8.3%, auto);}
.year5 { @include number-position(29%, 10%, auto);}
.year6 { @include number-position(26%,11%, auto);}
.year7 { @include number-position(22.5%,12.5%,auto);}
// 11 до 18 лет
.year11 { @include number-position(12%,24.5%, auto);}
.year12 { @include number-position(11%,27%, auto);}
.year13 { @include number-position(10%, 30%, auto);}
.year14 { @include number-position(8%, 33%, auto);}
.year15 { @include number-position(7%, 36%, auto);}
.year16 { @include number-position(6%,39%, auto);}
.year17 { @include number-position(5%,42%,auto);}

  // Контейнер для выбора даты
  .birthdate-picker {
    text-align: center;

    .select-container {
      display: flex;
      gap: 10px;
      justify-content: center;

      
      
    }

    .custom-select {
      min-width: 100px;
      border-radius: 20px;
    }

    .calculate-button {
      margin-top: 15px;
      border-radius: 20px;
    }
  }
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
  } 